<footer>
    <div class="d-flex justify-content-center my-5 my_footer_text">
        <div class="col-10 col-sm-6 fw-lighter text-center m-0">
            Databáze ještě není kompltní. Pokud víte o nějaké bojovnici, která v seznamu chybí,
            neváhejte mi napsat na <strong>di.prusova@gmail.com</strong>.
        </div>

    </div>

    <div class="" style="background-color: #008888; font-size: 1rem;">
        <div class="text-end py-4 pe-5">
            <div class="py-1">
                <a class="text-white my_link" href="https://wild-diana.cz/">WEB AUTORKY</a>
            </div>
            
            <div class="py-1">
                <a class="text-white my_link" href="{% url 'bojovnice_api:api-root' %}">API APLIKACE</a>
            </div>
        </div>
    </div>
</footer>